<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>まんぷく！ヒカリとアメリのはらぺこキッチン！！公式サイト</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
</head>
<body>
<div align  =  "center">
  <h2>まんぷく！ヒカリとアメリのはらぺこキッチン！！</h2>
  <br>
  <h3>RANKING</h3>
  <table>
  <tr>
  	<td>1</td>
  	<td>ちょみ</td>
  	<td>4000</td>
  </tr>
    <tr>
  	<td>2</td>
  	<td>ちょみちょみ</td>
  	<td>3000</td>
  </tr>
    <tr>
  	<td>3</td>
  	<td>ちょちょみ</td>
  	<td>2000</td>
  </tr>
  	ここにランキング表を表示
  </table>
  <button type="submit">もっと見る</button>
</div>

<br>
<br>

<form >
	<div align = center>
		ランキング登録フォーム
		<table>
			<tr>
				<td>PlayerName</td><td><input type="text" name = "name"></td>
			</tr>
			<tr>
				<td>Score</td><td><input type="number"></td>
			</tr>
		</table>
		<button type="submit">送信</button>
	</div>
</form>
</body>
</html>